# 4 Prepare a traits file to match expression data in the wgcna analysis

**Several files are check up to define a meta-data file useful to use to label the coexpression genes gotten with WGCNA**
<br><br>
athal_GO_terms.txt<br>
Araport11_GFF3_genes_transposons.201606.gff<br>
Araport11_functional_descriptions_20181231.txt<br>
all_infected_Log2_17ceros_Q3_drop.csv<br>

Made by: Cynthia Soto <br>
Date: Feb 24, 2021 <br>
Last md:  <br>

In [101]:
# Libraries required
import os 
import glob
import pandas as pd

In [102]:
try:
    # Change the current working Directory      
    os.chdir("/home/cyntsc/Proyectos/tesis-code/meta-xtrome-analysis/meta-data/")
    print("Directory changed:", os.getcwd() )
except OSError:
    print("Can't change the Current Working Directory")

Directory changed: /home/cyntsc/Proyectos/tesis-code/meta-xtrome-analysis/meta-data

- [From **all_infected_Log2_17ceros_Q3_drop.csv** we can retrieve the gene names for the specific matrix](#heading)
  * 1. Genes:AT1G01010

In [109]:
file="../results-data/all_infected_Log2_17ceros_Q3_drop.csv"
df_gene_names = pd.read_csv(file, sep='\t', usecols=[0])

In [111]:
print(df_gene_names.shape)
df_gene_names.head()

(1824, 1)

       Genes
0  AT1G01090
1  AT1G01120
2  AT1G01140
3  AT1G01180
4  AT1G01440

In [114]:
df_gene_names.to_csv("gene_names_athal_infected_Q3.csv", index=0)

- [From **athal_GO_terms.txt** we can use the Locus and GO term](#heading)
  * 1. Locus:AT1G01010 
  * 2. GO Term:regulation of transcription, DNA
  * 3. Category can also provide valueable data such as:comp, proc and func classification

In [91]:
file = "athal_GO_terms.txt"
df = pd.read_csv(file, sep='\t')    ## , usecols=[1,3], nrows=100,

In [93]:
print(df.shape)
df.head(3)

(201479, 12)

,Locus,TAIR internal locus id,Gene Model(s),GO term,GO ID,TAIR internal GO id,category,GO Slim(s),Evidence code,Reference,Made by,date last modified
0,AT1G01010,2200934.0,AT1G01010.1,nucleus,GO:0005634,537.0,comp,nucleus,ISM,AnalysisReference:501780126,NaN,08/31/2018 00:00:00
1,AT1G01010,2200935.0,AT1G01010,"regulation of transcription, DNA-templated",GO:0006355,7461.0,proc,other cellular processes | nucleobase-containi...,ISS,Publication:1345963|PMID:11118137,NaN,04/02/2018 00:00:00
2,AT1G01010,2200935.0,AT1G01010,DNA-binding transcription factor activity,GO:0003700,4449.0,func,DNA-binding transcription factor activity,ISS,Publication:1345963|PMID:11118137,TAIR,06/06/2003 00:00:00

In [94]:
df = df[["Locus","GO term","category","Evidence code"]]

In [95]:
df = df[df['category'] == "func"]
df.head()

,Locus,GO term,category,Evidence code
2,AT1G01010,DNA-binding transcription factor activity,func,ISS
6,AT1G01020,molecular_function_unknown,func,ND
22,AT1G01030,protein binding,func,IPI
27,AT1G01030,DNA-binding transcription factor activity,func,ISS
32,AT1G01040,protein binding,func,IPI

In [100]:
print(df.shape)
## count duplicates under a specific column
df.pivot_table(index=['Locus'], aggfunc='size')

(53878, 4)

Locus
AT1G01010     1
AT1G01020     1
AT1G01030     2
AT1G01040    11
AT1G01050     6
             ..
ATMG01350     1
ATMG01360     3
ATMG01370     1
ATMG01400     1
ATMG01410     1
Length: 22340, dtype: int64

- [From **#Araport11_GFF3_genes_transposons.201606.gff** we can use:](#heading)
  * 1. name, gene_model_type, short_description, Curator_summary and Computational_description

In [76]:
file = "Araport11_GFF3_genes_transposons.201606.gff"

### reading an "incorrect" CSV to dataframe having a variable number of columns/tokens 
header_list = ["Chr", "Ann", "Feature","st","end","aa","ord","bb","ID"]
pd_gff = pd.read_csv(file, header=0, sep='\t', names=header_list)   #, nrows=500

In [77]:
pd_gff.head()

,Chr,Ann,Feature,st,end,aa,ord,bb,ID
0,Chr1,Araport11,five_prime_UTR,3631.0,3759.0,.,+,.,ID=AT1G01010:five_prime_UTR:1;Parent=AT1G01010...
1,Chr1,Araport11,exon,3631.0,3913.0,.,+,.,ID=AT1G01010:exon:1;Parent=AT1G01010.1;Name=NA...
2,Chr1,Araport11,CDS,3760.0,3913.0,.,+,0,ID=AT1G01010:CDS:1;Parent=AT1G01010.1;Name=NAC...
3,Chr1,Araport11,exon,3996.0,4276.0,.,+,.,ID=AT1G01010:exon:2;Parent=AT1G01010.1;Name=NA...
4,Chr1,Araport11,CDS,3996.0,4276.0,.,+,2,ID=AT1G01010:CDS:2;Parent=AT1G01010.1;Name=NAC...

In [78]:
print(pd_gff.shape)

(908168, 9)

In [79]:
pd_gff.columns

Index(['Chr', 'Ann', 'Feature', 'st', 'end', 'aa', 'ord', 'bb', 'ID'], dtype='object')

In [81]:
pd_gff.Feature.unique()

array(['five_prime_UTR', 'exon', 'CDS', 'three_prime_UTR', nan, 'protein',
       'gene', 'mRNA', 'lnc_RNA', 'transposable_element',
       'transposon_fragment', 'antisense_lncRNA',
       'miRNA_primary_transcript', 'miRNA', 'transcript_region', 'tRNA',
       'antisense_RNA', 'pseudogene', 'pseudogenic_transcript',
       'pseudogenic_exon', 'transposable_element_gene', 'snoRNA', 'ncRNA',
       'snRNA', 'uORF', 'pseudogenic_tRNA', 'rRNA'], dtype=object)

In [82]:
pd_gff = pd_gff[pd_gff['Feature'] == "CDS"]

In [83]:
pd_gff.shape

(286355, 9)

In [84]:
pd_gff.head()

,Chr,Ann,Feature,st,end,aa,ord,bb,ID
2,Chr1,Araport11,CDS,3760.0,3913.0,.,+,0,ID=AT1G01010:CDS:1;Parent=AT1G01010.1;Name=NAC...
4,Chr1,Araport11,CDS,3996.0,4276.0,.,+,2,ID=AT1G01010:CDS:2;Parent=AT1G01010.1;Name=NAC...
6,Chr1,Araport11,CDS,4486.0,4605.0,.,+,0,ID=AT1G01010:CDS:3;Parent=AT1G01010.1;Name=NAC...
8,Chr1,Araport11,CDS,4706.0,5095.0,.,+,0,ID=AT1G01010:CDS:4;Parent=AT1G01010.1;Name=NAC...
10,Chr1,Araport11,CDS,5174.0,5326.0,.,+,0,ID=AT1G01010:CDS:5;Parent=AT1G01010.1;Name=NAC...

- [From **Araport11_functional_descriptions_20181231.txt** we can use:](#heading)
  * 1. name, gene_model_type, short_description, Curator_summary and Computational_description

In [66]:
file = "Araport11_functional_descriptions_20181231.txt"
df1 = pd.read_csv(file, sep='\t')    ## , usecols=[1,3], nrows=100,

In [67]:
print(df1.shape)
df1.head(5)

(63275, 5)

,name,gene_model_type,short_description,Curator_summary,Computational_description
0,AAN,unknown,NaN,Putative QTL with a period-lengthening effect ...,NaN
1,ACL1,unknown,NaN,Mutants are defective in leaf and inflorescenc...,NaN
2,ACL2,unknown,NaN,Loss of function mutants have reduced internod...,NaN
3,ACL3,unknown,NaN,Loss of function mutants have reduced internod...,NaN
4,ADD1,unknown,NaN,Temperature-sensitive gene required for normal...,NaN