## Preparing meta-data for the WGCNA dendogram


First, a meta-data base on sample information is build.

Second, a meta-data base on gene information retrieved from bulk GO annotations from TAIR are build.

### FIRST: meta-data base of sample information is build.

In [4]:
import os 
import pandas as pd
import numpy as np
try:
    # Change the current working Directory    
    os.chdir("/home/cyntsc/Proyectos/athal1_htseq-counts/wgcna_dataset1_thaliana_sana/")
    #print("Current Directory:", os.getcwd())
except OSError:
    print("Can't change the Current Working Directory")

Can't change the Current Working Directory

In [3]:
# intialise data of lists. 
data = {'Sample':['SRR3383640', 'SRR3383641','SRR3383782','SRR3383783','SRR3383821','SRR3383822','SRR6283144','SRR6283145'], 'hpi':[12,12,18,18,24,24,30,30], 'sizeMpb':[10,22,29,14,15,10,22,19]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
df

NameError: name 'pd' is not defined

In [2]:
## Send the new layout to a csv file for wgcna analysis
df.to_csv('SampleTraits.csv', sep='\t', index=False)

NameError: name 'df' is not defined

### SECOND: meta-data base on gene information retrieved from bulk GO annotations from TAIR are build.

This meta-data file is for attaching to a Plot Dendogram in wgcna.
<br>
Meta data were retrieved from TAIR DB based from the bulk data retrieval tools. Gene Ontology annotations filtered  by "Functional Categorization" were consulted and here results are treated to use it as meta-data in our analysis.

In [1]:
# This is the file get from TAIR (https://www.arabidopsis.org/tools/bulk/go/index.jsp)
df=pd.read_csv("athal_GO_terms.txt",  sep='\t', usecols=[0,3,4,5,6,7])

NameError: name 'pd' is not defined

In [94]:
# Select the fields of interest and rename columns for a fashion use 
df.columns = ['locus','GO_term','GO_id','TAIR_id','category','GO_slim']
print(df.shape)
df.columns

(201479, 6)

Index(['locus', 'GO_term', 'GO_id', 'TAIR_id', 'category', 'GO_slim'], dtype='object')

In [95]:
df

,locus,GO_term,GO_id,TAIR_id,category,GO_slim
0,AT1G01010,nucleus,GO:0005634,537.0,comp,nucleus
1,AT1G01010,"regulation of transcription, DNA-templated",GO:0006355,7461.0,proc,other cellular processes | nucleobase-containi...
2,AT1G01010,DNA-binding transcription factor activity,GO:0003700,4449.0,func,DNA-binding transcription factor activity
3,AT1G01010,"regulation of transcription, DNA-templated",GO:0006355,7461.0,proc,other cellular processes | other metabolic pro...
4,AT1G01020,mitochondrion,GO:0005739,486.0,comp,mitochondrion
...,...,...,...,...,...,...
201474,ATMG01400,mitochondrion,GO:0005739,486.0,comp,mitochondrion
201475,ATMG01400,biological_process_unknown,GO:0008150,5239.0,proc,unknown biological processes
201476,ATMG01410,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
201477,ATMG01410,biological_process_unknown,GO:0008150,5239.0,proc,unknown biological processes
201478,ATMG01410,mitochondrion,GO:0005739,486.0,comp,mitochondrion

In [96]:
# chek uniques by category
df.category.unique()

array(['comp', 'proc', 'func', nan], dtype=object)

In [97]:
## Filter df by molecular function (proceses and component are removed, just keep funciton category)
is_gene_func = (df['category']=='func')     
df_meta = df[is_gene_func]

In [98]:
# chk size and see for duplicated functions 
df_meta.shape

(53878, 6)

In [99]:
df_meta

,locus,GO_term,GO_id,TAIR_id,category,GO_slim
2,AT1G01010,DNA-binding transcription factor activity,GO:0003700,4449.0,func,DNA-binding transcription factor activity
6,AT1G01020,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
22,AT1G01030,protein binding,GO:0005515,3877.0,func,protein binding
27,AT1G01030,DNA-binding transcription factor activity,GO:0003700,4449.0,func,DNA-binding transcription factor activity
32,AT1G01040,protein binding,GO:0005515,3877.0,func,protein binding
...,...,...,...,...,...,...
201461,ATMG01360,heme binding,GO:0020037,9668.0,func,other binding
201469,ATMG01360,cytochrome-c oxidase activity,GO:0004129,2070.0,func,transporter activity | catalytic activity
201471,ATMG01370,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
201473,ATMG01400,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
201476,ATMG01410,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions

In [100]:
# exploring possible filters 
df_meta.GO_term.unique()

array(['DNA-binding transcription factor activity',
       'molecular_function_unknown', 'protein binding', ...,
       'proton channel activity', 'phosphate ion binding',
       'oxidoreduction-driven active transmembrane transporter activity'],
      dtype=object)

In [101]:
# chk how many locus extists in the df
lst_unique_locus=df_meta.locus.unique()
print(len(lst_unique_locus))

22340

In [102]:
lst_unique_locus

array(['AT1G01010', 'AT1G01020', 'AT1G01030', ..., 'ATMG01370',
       'ATMG01400', 'ATMG01410'], dtype=object)

In [103]:
# arbitrary remove duplicates and just keep the first locus ocurrence to have a reduced df to attach to the wgcna dendogram
df_unique_locus = df_meta.drop_duplicates(subset = ["locus"])

# data is lost, need to find a better way to filter

In [104]:
print(len(df_unique_locus))
df_unique_locus

22340

,locus,GO_term,GO_id,TAIR_id,category,GO_slim
2,AT1G01010,DNA-binding transcription factor activity,GO:0003700,4449.0,func,DNA-binding transcription factor activity
6,AT1G01020,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
22,AT1G01030,protein binding,GO:0005515,3877.0,func,protein binding
32,AT1G01040,protein binding,GO:0005515,3877.0,func,protein binding
64,AT1G01050,inorganic diphosphatase activity,GO:0004427,2813.0,func,hydrolase activity
...,...,...,...,...,...,...
201458,ATMG01350,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
201459,ATMG01360,cytochrome-c oxidase activity,GO:0004129,2070.0,func,transporter activity | catalytic activity
201471,ATMG01370,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
201473,ATMG01400,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
201476,ATMG01410,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions

In [105]:
df_unique_locus.to_csv('gene_meta_data0.csv', header=True, sep='\t', index=False)

Need to match the meta-data. Look for missing values (NaN) in gene_meta_data.csv

In [164]:
df_gene_func = pd.read_csv("gene_meta_data0.csv",  sep='\t') 
df_80 = pd.read_csv("dataset1_wgcna_matrix_80p.csv",  sep='\t')

In [165]:
print(df_gene_func.shape)
print(df_80.shape)

(22340, 6)
(22427, 9)

In [166]:
df80_meta_data = pd.concat([df_80, df_gene_func], axis=1, join='outer')

In [167]:
df80_meta_data.shape

(22427, 15)

In [168]:
df80_meta_data.columns
df80_meta_data

,Genes,SRR3383640,SRR3383821,SRR3383782,SRR6283145,SRR3383641,SRR3383783,SRR3383822,SRR6283144,locus,GO_term,GO_id,TAIR_id,category,GO_slim
0,AT1G01010,6.523562,7.055282,6.845490,6.266787,7.592457,5.857981,6.066089,7.507795,AT1G01010,DNA-binding transcription factor activity,GO:0003700,4449.0,func,DNA-binding transcription factor activity
1,AT1G01020,6.768184,7.189825,7.813781,7.459432,8.066089,6.882643,6.539159,7.357552,AT1G01020,molecular_function_unknown,GO:0003674,3226.0,func,unknown molecular functions
2,AT1G01030,3.807355,3.321928,5.169925,4.392317,4.523562,3.807355,4.087463,4.700440,AT1G01030,protein binding,GO:0005515,3877.0,func,protein binding
3,AT1G01040,10.005625,9.992938,11.214926,11.311748,11.165535,10.371777,9.319672,11.283667,AT1G01040,protein binding,GO:0005515,3877.0,func,protein binding
4,AT1G01050,9.733015,9.419960,11.379920,10.581201,10.854868,10.250298,8.668885,10.817783,AT1G01050,inorganic diphosphatase activity,GO:0004427,2813.0,func,hydrolase activity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22422,ATMG01350,1.000000,1.584963,0.000000,3.000000,1.584963,1.000000,0.000000,3.169925,NaN,NaN,NaN,NaN,NaN,NaN
22423,ATMG01360,4.392317,4.807355,5.700440,6.554589,6.247928,4.807355,4.523562,6.392317,NaN,NaN,NaN,NaN,NaN,NaN
22424,ATMG01370,4.643856,5.129283,5.321928,5.832890,6.228819,4.169925,4.321928,4.321928,NaN,NaN,NaN,NaN,NaN,NaN
22425,ATMG01400,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
22426,ATMG01410,1.584963,2.584963,2.000000,1.000000,2.807355,2.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
df80_meta_data = df80_meta_data.fillna('0')
df80_meta_data

,Genes,SRR3383640,SRR3383821,SRR3383782,SRR6283145,SRR3383641,SRR3383783,SRR3383822,SRR6283144,locus,GO_term,GO_id,TAIR_id,category,GO_slim
0,AT1G01010,6.523562,7.055282,6.845490,6.266787,7.592457,5.857981,6.066089,7.507795,AT1G01010,DNA-binding transcription factor activity,GO:0003700,4449,func,DNA-binding transcription factor activity
1,AT1G01020,6.768184,7.189825,7.813781,7.459432,8.066089,6.882643,6.539159,7.357552,AT1G01020,molecular_function_unknown,GO:0003674,3226,func,unknown molecular functions
2,AT1G01030,3.807355,3.321928,5.169925,4.392317,4.523562,3.807355,4.087463,4.700440,AT1G01030,protein binding,GO:0005515,3877,func,protein binding
3,AT1G01040,10.005625,9.992938,11.214926,11.311748,11.165535,10.371777,9.319672,11.283667,AT1G01040,protein binding,GO:0005515,3877,func,protein binding
4,AT1G01050,9.733015,9.419960,11.379920,10.581201,10.854868,10.250298,8.668885,10.817783,AT1G01050,inorganic diphosphatase activity,GO:0004427,2813,func,hydrolase activity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22422,ATMG01350,1.000000,1.584963,0.000000,3.000000,1.584963,1.000000,0.000000,3.169925,0,0,0,0,0,0
22423,ATMG01360,4.392317,4.807355,5.700440,6.554589,6.247928,4.807355,4.523562,6.392317,0,0,0,0,0,0
22424,ATMG01370,4.643856,5.129283,5.321928,5.832890,6.228819,4.169925,4.321928,4.321928,0,0,0,0,0,0
22425,ATMG01400,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0
22426,ATMG01410,1.584963,2.584963,2.000000,1.000000,2.807355,2.000000,1.000000,2.000000,0,0,0,0,0,0

In [170]:
df80_meta_data["GO_id"] = df80_meta_data["GO_id"].str.replace("GO:", "")

df80_meta_data

,Genes,SRR3383640,SRR3383821,SRR3383782,SRR6283145,SRR3383641,SRR3383783,SRR3383822,SRR6283144,locus,GO_term,GO_id,TAIR_id,category,GO_slim
0,AT1G01010,6.523562,7.055282,6.845490,6.266787,7.592457,5.857981,6.066089,7.507795,AT1G01010,DNA-binding transcription factor activity,0003700,4449,func,DNA-binding transcription factor activity
1,AT1G01020,6.768184,7.189825,7.813781,7.459432,8.066089,6.882643,6.539159,7.357552,AT1G01020,molecular_function_unknown,0003674,3226,func,unknown molecular functions
2,AT1G01030,3.807355,3.321928,5.169925,4.392317,4.523562,3.807355,4.087463,4.700440,AT1G01030,protein binding,0005515,3877,func,protein binding
3,AT1G01040,10.005625,9.992938,11.214926,11.311748,11.165535,10.371777,9.319672,11.283667,AT1G01040,protein binding,0005515,3877,func,protein binding
4,AT1G01050,9.733015,9.419960,11.379920,10.581201,10.854868,10.250298,8.668885,10.817783,AT1G01050,inorganic diphosphatase activity,0004427,2813,func,hydrolase activity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22422,ATMG01350,1.000000,1.584963,0.000000,3.000000,1.584963,1.000000,0.000000,3.169925,0,0,0,0,0,0
22423,ATMG01360,4.392317,4.807355,5.700440,6.554589,6.247928,4.807355,4.523562,6.392317,0,0,0,0,0,0
22424,ATMG01370,4.643856,5.129283,5.321928,5.832890,6.228819,4.169925,4.321928,4.321928,0,0,0,0,0,0
22425,ATMG01400,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0
22426,ATMG01410,1.584963,2.584963,2.000000,1.000000,2.807355,2.000000,1.000000,2.000000,0,0,0,0,0,0

In [171]:
#subset the meta_data to use 
df80_meta_data=df80_meta_data[['Genes','GO_term', 'GO_id', 'TAIR_id','GO_slim']]

In [172]:
df80_meta_data.shape

(22427, 5)

In [173]:
df80_meta_data

,Genes,GO_term,GO_id,TAIR_id,GO_slim
0,AT1G01010,DNA-binding transcription factor activity,0003700,4449,DNA-binding transcription factor activity
1,AT1G01020,molecular_function_unknown,0003674,3226,unknown molecular functions
2,AT1G01030,protein binding,0005515,3877,protein binding
3,AT1G01040,protein binding,0005515,3877,protein binding
4,AT1G01050,inorganic diphosphatase activity,0004427,2813,hydrolase activity
...,...,...,...,...,...
22422,ATMG01350,0,0,0,0
22423,ATMG01360,0,0,0,0
22424,ATMG01370,0,0,0,0
22425,ATMG01400,0,0,0,0
22426,ATMG01410,0,0,0,0

In [174]:
df80_meta_data.to_csv('gene_meta_data.csv', header=True, sep='\t', index=True)